<div class="container">
    <p class="intro">
        &emsp;Hello, this is simple calculator application.<br><br>Using this app you can calculate mathematical
        expressions. Logged users (for creating an account you need to provide an email which does not need to be real
        email, only following the same syntax as real one) could save their expressions for later use. While saving an
        estimation you could add brief
        description, which you can use to search your savings by. This calculator has the ability to create and save
        formulas with variables which you can substitute with different numbers, so that the formula in use could be
        applied in different cases.<br>You could
        <span *ngIf="userService.isLogged">create</span>
        <a *ngIf="!userService.isLogged" [routerLink]="['/', 'auth' , 'register' ]">create</a>
        an account or
        <span *ngIf="userService.isLogged">log into</span>
        <a *ngIf="!userService.isLogged" [routerLink]=" ['/', 'auth' , 'login' ]">log into</a>
        one if you have such or go straight to the
        <a [routerLink]=" ['/', 'calculator' ]">calculator</a>
        in order to try it.
    </p>
</div>