.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;

    p {
        font-size: 20px;
        line-height: 28px;
    }

    button {
        margin: 20px;
        width: 100px;
    }
}