<div class="container">
    <mat-dialog-content>
        <p>
            Brief guide:<br><br>
            You can synthesize expressions, including formulas with variables (predefined or custom). If you create
            formula with variables and you click the button with equal sign, you will be
            presented with pop up dialog in which you can either test or save the formula.<br>This calculator has three
            history tabs. One for current estimations, one for saved estimations and one for saved formulas. During
            saving an estimation or formula you can add brief description. Each estimation or formula in these tabs has
            three dotted drop down menu with actions. Through these actions you can save/edit/delete and copy to
            calculator's screen an estimation or formula. You can search all three tabs by part of estimation/formula
            or description.
        </p>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial="'false'">Close</button>
    </div>
</div>