.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    mat-card {
        width: clamp(340px, 80vw, 384px);
        max-height: 560px;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

@media only screen and (max-height: 768px) {
    .container {
        height: auto;
        align-items: normal;

        mat-card {
            margin-top: 8px;
        }
    }
}