<div class="tab-content">
    <div *ngIf="isLoading" class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="saved-container">
        <div [attr.menu-opened]="menuOpened && !el.hidden" class="estimation-element" *ngFor="let formula of filteredFormulas" (mouseover)="el.hidden = false"
            (mouseleave)="menuOpened ? el.hidden = false : el.hidden = true">
            <div class="formula-result">
                <div class="text">
                    <span [innerHTML]="formula.input.join('')"></span>
                </div>
                <div #el [hidden]="true" class="container-btns">
                    <mat-icon [matMenuTriggerFor]="menu" (menuOpened)="handleHover(el)"
                        (menuClosed)="handleHover(el)" matTooltip="Show actions" matTooltipShowDelay="1000">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <span mat-menu-item (click)="openEditDialog(formula)" matTooltip="Edit this estimation" matTooltipShowDelay="1000">
                            <mat-icon>edit_outlined</mat-icon>
                        </span>
                        <span mat-menu-item (click)="openDeletionDialog(formula)" matTooltip="Delete this estimation" matTooltipShowDelay="1000">
                            <mat-icon>delete_outlined</mat-icon>
                        </span>
                        <span mat-menu-item (click)="copyToScreen(formula)" matTooltip="Copy to calculator's screen" matTooltipShowDelay="1000">
                            <mat-icon>content_copy</mat-icon>
                        </span>
                    </mat-menu>
                </div>
            </div>
            <div class="comment">{{formula.comment}}</div>
        </div>
    </div>
</div>