<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Register</h2>
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput formControlName="email" placeholder="pat@example.com" required>
        <mat-error *ngIf="emailFormControl.touched && emailFormControl.hasError('required')">This field is
            required</mat-error>
        <mat-error *ngIf="emailFormControl.touched && emailFormControl.hasError('pattern')">This email is
            invalid</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput formControlName="password" required [type]="hidePass ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.touched && passwordFormControl.hasError('required')">This field is
            required</mat-error>
        <mat-error *ngIf="passwordFormControl.touched && passwordFormControl.hasError('minlength')">Password should be
            at least 4 symbols</mat-error>
        <mat-error *ngIf="passwordFormControl.touched && passwordFormControl.hasError('maxlength')">Password should not
            exceed more than 32 symbols</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>confirm password</mat-label>
        <input matInput formControlName="rePassword" required [type]="hideRePass ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hideRePass = !hideRePass"
            [attr.aria-label]="'Hide rePassword'" [attr.aria-pressed]="hideRePass">
            <mat-icon>{{hideRePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="rePasswordFormControl.touched && rePasswordFormControl.hasError('required')">This field is
            required</mat-error>
        <mat-error *ngIf="rePasswordFormControl.touched && rePasswordFormControl.hasError('confirmPassword')">Passwords
            do not match</mat-error>
    </mat-form-field>

    <div class="actions">
        <button type="submit" mat-raised-button [disabled]="form.invalid || isRegistering">Submit</button>
    </div>

    <p>If you have an account: <a [routerLink]="['/', 'auth', 'login']">Login</a></p>
    <p>Continue without an account: <a [routerLink]="['/', 'calculator']">Skip</a></p>
</form>